<header>
    <h1> {{ title }} </h1>
</header>

<nav class = 'topnav'>
    <ul>
        <a class = 'active' href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#socials">Socials</a>
    </ul>
</nav>