<header>
    <h1> {{ websiteTitle }} </h1>
</header>

<nav class = 'topnav'>
    <ul>
        <a class = 'active' href="/index.html">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
    </ul>
</nav>