<header>
    <h1> {{ websiteTitle }} </h1>
</header>

<nav class = 'topnav'>
    <ul>
            <!--
            if the activePage is equal to 'home'
                use 'active
            else use ''
            -->
        <a 
            class="{% if activePage == 'home' %}active{% endif %}"
            href="/index.html"> 
            Home
        </a>

        <a
            class="{% if activePage == 'blog' %}active{% endif %}"
            href="/blog"> 
            Blog
        </a>

        <a
            class="{% if activePage == 'about' %}active{% endif %}"
            href="/about"> 
            About
        </a>
    </ul>
</nav>


