
<!-- Education -->
<section class = "education-section">
    <div class='education-item'>
        <h3>Univeristy of Central Florida</h3>
        <ul>
            <li> Bachelors in Mathematics </li>
            <li> Minor in Computer Science </li>
        </ul>
    </div>

    <div class='coursework'>
        <h3>Coursework</h3>
        
        <div class='course-category'>
            <h4>Computer Science</h4>
            <ul>
                <li> Data Structures </li>
                <li> Algorithmic Time Complexity </li>
                <li> Programming Languages </li>
                <li> System Software </li>
                <li> Instruction Set Architecture </li>
                <li> Operating Systems </li>
                <li> Malyware Analysis </li>
            </ul>
        </div>

        <div class='course-category'>
            <h4>Mathematics</h4>
            <ul>
                <li>Advanced Calculus</li>
                <li>Ordinary Differential Equations</li>
                <li>Partial Differential Equations</li>
                <li>Linear Algebra</li>
                <li>Abstract Algebra</li>
                <li>Matrix Algebra</li>
                <li>Logic and Proofs</li>
                <li>Discrete Structures</li>
                <li>Statistical Theory</li>
                <li>Physics</li>
            </ul>
        </div>
    </div>
</section>

<!-- Resume section -->
<section class = "resume-section"> 
    <h2>Professional Experience</h2>
    <div class='resume-item'>
        <h3>Customer Support Specialist</h3> 
        <p>Shadow Cloud PC</p>
        <p>2022 - Present</p>
        <ul>
            <li>Manage 65-75 daily customer interactions (15-18% of team's 400~450 daily resolution volume)</li>
            <li>Analyze system logs to identify root causes of failures</li>
            <li>Security Operations</li>
            <ul>
                <li>Conduct security audits for 15-20 suspected hacked accounts weekly</li>
                <li>Fraud analysis on high-risk transactions</li>
                <li>Implement account lockdown protocols for comrpomised systems</li>
            </ul>
            <li>Technical Stack Management</li>
            <ul>
                <li>Payment Systems: Stripe (disputes, refunds, subscription management)</li>
                <li>CRM: Chargebee (customer profiles, account management) + Backoffice (in-house tool for Chargebee-Stripe integration)</li>
                <li>Monitoring: Grafana (VM performance) + Dr House (in-house tool for customized views)</li>
                <li>Development: GitLab (bug reporting/prioritization)</li>
                <li>Comms: Brevo (email templating/campaigns)</li>
            </ul>
            <li>Cross-functional Collaboration</li>
            <ul>
                <li>Escalate critical issues to DevOps via GitLab tickets</li>
                <li>Provide UX feedback to product team</li>
                <li>Train team members on security protocols and internal tools</li>
            </ul>
        </ul>
    </div>

    <div class='resume-item'>
        <h3>Technical Support Trainer</h3> 
        <p>Libtech, University of Central Florida</p>
        <p>2020 - 2022</p>
        <ul>
            <li>Troubleshooting network issues on the university's custom VPN</li>
            <li>Reimaged custom university software on Windows and MacBook devices</li>
            <li>Coached student assistants to efficiently use software: Office 365, Adobe Creative Cloud, One Drive, Citrix Workspace, IBM SPSS Amos / Statistics, MATLAB</li>
            <li>Coached student assistants to handle students and faculty of all ages and technical aptitudes</li>
        </ul>
    </div>
</section>

<!-- Projects section --> 

<!-- Leetcode section -->
<section class='leetcode-section'>
    leetcode section
</section>

<!--contact section -->
<section class = "contact-section">
    <h2> Get in touch. </h2>
    <p>
        Want to work together? Have a question about my work? I'd love to hear from you! You can reach me via email.
    </p>
    <strong> 
        Email: <a 
                href="mailto:contact@yayformar.io">
                    contact@yayformar.io
                </a>
    </strong>
</section>
