<div class = 'blogDescription'>
    <h1> General Intro </h1>
</div>

<div class = 'profilePic'>
    pic of self
</div>


<div class = 'featured'>
    <h1 class = 'title'>
        Featured posts
    </h1>

    <p>Topics are loosly related to learning, interests, and memories</p>
    {% include 'snippets/allPosts.njk'%}
</div>
