<div
    class='websiteLinks'>
    <!-- if the activePage is equal to 'home'
        use 'active
    else use '' -->

    <a class="{% if activePage == 'home' %}active{% else %}navLink{% endif%}" 
        href="/index.html">
        Home
    </a>
    <a class="{% if activePage == 'blog' %}active{% else %}navLink{% endif %}" 
        href="/blog">
        Blog
    </a>
    <a class="{% if activePage == 'about' %}active{% else %}navLink{% endif %}" href="/about">
        About
    </a>
</div>