<!--
Grabs title and hyperlinks it
Grabs post date too
-->

<article class = 'postPreview'>
    <!-- TODO: grab 'image' for each post -->

    <!-- 
    Embeds the link of the post in the title
    Grabs the title of the post
    -->
    <h3> <a href="{{ post.url }}"> {{post.data.title}} </a></h3> 

    <!-- 
    grabs the date of the post and uses the 'postDate' filter 
        - 'postDate' is configured in '/eleventy.config.js'
    -->
    <p> {{post.date | postDate}} </p> 

</article>
