---
websiteTitle: yayformar.io
title: Blog
layout: 'baseTemplate.njk'
---

<!-- Where the maint content will go-->
<main>
    <section> Blog landing page </section>


    <!-- looping through our collections with a 'post' tag -->

</main>
