---
websiteTitle: yayformar.io
title: Blog
layout: 'templates/blogTemplate.njk'
activePage: blog

eleventyImport:
    collections: ["posts"]
---


<!-- Where the maint content will go-->
<h1 class = 'blogTitle'>
    The Daily Deployment
</h1>

{% include 'snippets/allPosts.njk'%}


