{% extends "templates/baseTemplate.njk"%}

{% block styles %}
<link rel="stylesheet" href="/css/blog.css">
{% endblock %}

{% block starter %} 
{% endblock %}

{% block main %} 
<main>  
    {{ content | safe }}
</main>
{% endblock %}


