---
websiteTitle: yayformar.io
title: About
layout: 'templates/aboutTemplate.njk'
activePage: about
---

<!-- About -->
<section class = "aboutSection">
    <h1>Mathematician & Computer Scientist</h1>
</section>

<!-- Education -->
<section class = "educationSection">
    <h1> Education </h1>
    <h2> University of Central Florida </h2>

    <ul>
        <li> Bachelor's in Mathematics </li>
        <li> Minor in Computer Science </li>
    </ul>

    <h2> Coursework </h2>
    <ul>
        <li>Mathematics
            <ul>
                <li> Advanced Calculus </li>
                <li> Ordinary Differential Equations </li>
                <li> Partial Differential Equations </li>
                <li> Linear Algebra </li>
                <li> Abstract Algebra </li>
                <li> Matrix Algebra </li>
                <li> Logic and Proofs </li>
                <li> Discrete Structures </li>
                <li> Statistical Theory </li>
                <li> Physics </li>
            </ul>
        </li>
        <li>Computer Science
            <ul>
                <li> Data Structures </li>
                <li> Algorithmic Time Complexity </li>
                <li> Programming Languages </li>
                <li> System Software </li>
                <li> Instruction Set Architecture </li>
                <li> Operating Systems </li>
                <li> Malware Analysis </li>
            </ul>
        </li>
    </ul>
</section>


<section class = 'projectsSection'>
    <h1> Projects </h1>
</section>

<section class = 'leetCodeSection'>
    <h1> Leetcode </h1>
</section>

<section class = "resumeSection"> 
    <h1> Resume </h1>
    <h2 class = 'shadow'>Shadow.tech</h2>
    <h3>IT Support Specialist</h3>
    <ul>
        <li>Training & Mentorship: Onboarded and trained two new support agents, successfully guiding them to meet all key performance metrics by the end of their training period.</li>
        <li>Zendesk & Sprinklr: Managed a high-volume queue, personally resolving 1,200+ tickets monthly, accounting for 15% of the team's total volume.</li>
        <li>GitLab: Contributed to the product's technical health by actively investigating and documenting 10-15 technical issues per month.</li>
        <li>Network Analysis & Optimization: Investigated 1-2 monthly instances of unusual user-to-data center pathing; diagnosed root causes (ISP issues, faulty nodes) and identified optimal routing solutions to restore performance.</li>
        <li>Data Analysis & Fraud Investigation: Utilized Stripe, Grafana, and OpenStack to perform quantitative analysis, leading to the investigation of 40-60 monthly financial disputes and the detection of fraudulent accounts, security breaches, and policy violations.</li>
        <li>Marketing Communications: Authored and executed customer-facing email campaigns and company-wide updates using Brevo.</li>
        <li>Content Localization: Enhanced global support accessibility by translating Help Center articles from French to English and Spanish.</li>
    </ul>
</section>

<section class = "contactSection">
    <h1> Get in touch. </h1>
    <p>Want to work together? Have a question about my work? I'd love to hear from you! You can reach me via email. If you'd like to schedule a call, please include your availability and a brief message about the purpose of the call.</p>
    <strong> 
        Email: <a href="mailto:contact@yayformar.io">contact@yayformar.io</a>
    </strong>
</section>
