---
websiteTitle: yayformar.io
title: About
layout: 'templates/aboutTemplate.njk'
activePage: about
---


<!-- About -->
<header class = "aboutHeader">
    <p>Mathematician & Computer Science Scholar</p>
</header>

<!-- Education -->
<section class = "aboutSection">
    <h2> Univeristy of Central Florida </h2>

    <ul>
        <li> Bachelors in Mathematics </li>
        <li> Minor in Computer Science </li>
    </ul>

    <h2> Coursework </h2>
    <h3> Computer Science </h3>
    <ul>
        <li> Data Structures </li>
        <li> Algorithmic Time Complexity </li>
        <li> Programming Languages </li>
        <li> System Software </li>
        <li> Instruction Set Architecture </li>
        <li> Operating Systems </li>
        <li> Malyware Analysis </li>
    </ul>

    <h3> Mathematics </h3>
    <ul>
        <li> Advanced Calculus </li>
        <li> Ordinary Differential Equations </li>
        <li> Partial Differential Equations </li>
        <li> Linear Algebra </li>
        <li> Abstract Algebra </li>
        <li> Matrix Algebra </li>
        <li> Logic and Proofs </li>
        <li> Discrete Structures </li>
        <li> Statistical Theory </li>
        <li> Physics </li>
    </ul>
</section>

<section class = "resumeSection"> 
    <h2> Resume </h2>
    <h3> Education </h3>
    <h3> Professional Experience </h3>
    <h3> Projects </h3>
    <h3> Leetcode </h3>  
</section>

<section class = "contactSection">
    <h2> Get in touch. </h2>
    <p>
        Want to work together? Have a question about my work? I'd love to hear from you! You can reach me via email. If you'd like to schedule a call, please include your availability and a brief message about the purpose of the call.
    </p>
    <strong> 
        Email: <a 
                href="mailto:contact@yayformar.io">
                    contact@yayformar.io
                </a>
    </strong>
</section>
