/*****************
Author: Mario Huerta
Date: June 17th, 2025
*****************/

main {
    grid-row: 2/-2;
    grid-column: 2/-2;
}

/*Unordered list */
ul {    
    list-style-type: disc;
    list-style-position: inside;
}

li {
    margin-bottom: 15px;
}

ul li {
    margin-left: 5px;

}
ul li li {
    margin-left: 10px;
    margin-top: 15px;
    list-style-type:circle
}


h1{
    text-align: center;


}