/*****************
Author: Mario Huerta
Date: April 8th, 2025

TODO:
Light academia coloring for light mode

Disclaimer:
I try my best to organize things with a top/bottom approach
Also like to organize things as:
- Colors
- Padding
- Text
*****************/

/*****************
|Basic rules after resetting styles|
*****************/
/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Dark Academia coloring by default*/
:root {

  /*Whites*/
  --white1: #e5e7eb;
  --white2: #d1d5db;

  /*Cyans*/
  --cyan1: #588581;


  /*Greens*/
  --darkGreen: #2d3f36;
  --forestGreen: #5E6253;
  --forestGreen2: #3B3F2F;

  /* Grays */
  --slateGray: #878f99;
  
  /* Tans */
  --ivory: #EDE5DC;
  --ash: #a59f8e;
  

  /*Yellows*/
  --lightYellow: #F5DEB3;
  --yellow1: #f6d267;
  --yellow2: #ffd642;
  
  /*Browns*/
  --lightBrown: #a77c5f;
  --lightBrown2: #a76538;

  --brown1: #81583c;
  --brown2: #5b3e33;
  --brown3: #653928;


  /*Reds*/
    --darkRed: #6B2D2C;
    --darkRed2: #592f32;
    --darkRed3: #4F271C;

  /*Ambers*/
  --pumpkin: #FF7518;
  --burntUmber: #7E3E28;
  --rust: #B7410E;

  /*Blues*/
    --lightBlue1: #f0f8ff;
    --lighBlue2: #93c5fd;
    --lightBlue3: #60a5fa;
    --blue: #3b82f6;
    --navyBlue: #000080;
    --darkBlue: #2C3E50;
    --darkBlue2: #1d2631;

}


/*****************
HTML  
*****************/
html{
  height: 100%;
}
/*****************
Unordered list and list components 
*****************/
/*resetting style */
ol, ul { 
  list-style: none;
  padding: 0;
}

/*****************
Main
*****************/
main {
    grid-row: 2/-2;
    grid-column: 2/-2;
}

/*****************
Grid: body
*****************/
body{  
  display: grid;
  grid-template-rows: repeat(10, minmax(0, auto));
  grid-template-columns: repeat(10, minmax(0, 1fr));
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;

  background: var(--darkGreen);
  color: var(--lightYellow);

  font-family: 'Times New Roman', sans-serif;
  line-height: 1.6;
}

/*****************
Grid: Navbar
*****************/
.topnav{
  background-color: var(--brown1);
  color: var(--lightYellow);

  grid-row: 1/2;
  grid-column: 1/-1;

  display: flex;
  height: 75px;
  max-height: 75px;
  align-items: center;
  justify-content: space-between;
}

/*****************
Global links  
*****************/
/* Global Unvisited links */
a:link {
  color: var(--ashe);
  text-decoration: none;

}
/* global visited links */
a:visited {
  color: var(--lightBrown2);
}
/* mouse over */
a:hover {
  color: var(--lightBlue3);
}
/* keyboard focus */
a:focus {
  color: var(--pumpkin);
}
/* being clicked */
a:active {
  color: var(--rust);
}
/* Website links */ 
/*retain color to the active/ current link and title page*/

.websiteLinks a.active {
  color: var(--yellow2);
}
.websiteLinks a{
  color: var(--ashe);
}

.navBranding a {
  color: var(--ashe);
}
.navLink{
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    margin: 0rem 0.2rem;
    padding: 0.2rem 0.3rem;
}


/***************** 
Footer grid
*****************/

footer{
  grid-row: -2/-1;
  grid-column: 1/-1;
  
  background: var(--darkBlue);

  height: 75px;
  max-height: 75px;

  align-content: center;
  justify-items: center; 
  
}

/*****************
Mobile stuff 
*****************/
@media (max-width: 768px) {
  /*Center top navigation and let them wrap*/
  .topnav {
    flex-wrap: wrap;
  } 
  .footer {
    flex-wrap: wrap;
  }

}


/**** 
-----
TODO: Light Academia coloring 
-------

@media (prefers-color-scheme: light) {
  :root {
    --darkGreen: #717d5a;
    --lightYellow: #f5e5c3;
  }
  
  header {
    background: #b99972;
    color: var(--lightYellow);
  }

  .topnav{
    color: #2c2323;
  }
  
  .topnav a{
    color: #050303;
  }
  
  nav a:hover {
    color: #6B2D2C;
  }

  body{
    background: var(--darkGreen);
    color: var(--lightYellow);
  }


  footer{
    background: #384a62;
    color: #e1d9c9;
  }
}

****/
