/*****************
Author: Mario Huerta
Date: April 8th, 2025

TODO:
Light academia coloring for light mode

Disclaimer:
I try my best to organize things with a top/bottom approach
Also like to organize things as:
- Colors
- Padding
- Text
*****************/

/*****************
|Basic rules after resetting styles|
*****************/
/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Dark Academia coloring by default*/
:root {

  --darkGreen: #2d3f36;

  --lightYellow: #F5DEB3;
  --lemonade: #f6d267;
  --activeYellow: #ffd642;
  
  --pumpkin: #FF7518;
  --brown: #81583c;
  --darkBrown: #6B2D2C;

  --rust: #B7410E;

  --aliceBlue: #f0f8ff;
  --navyBlue: #000080;
  --darkBlue: #1d2631;

}

/*****************
Global links  
*****************/
/* Global Unvisited links */
a:link {
  color: aliceblue;
}
/* global visited links */
a:visited {
  color: aliceblue;
}
/* mouse over */
a:hover {
  color: #1d2631;
}
/* keyboard focus */
a:focus {
  color: #1d2631;
}
/* being clicked */
a:active {
  color: #1d2631;
}


/*****************
HTML  
*****************/
html{
  height: 100%;
}
/*****************
Unordered list and list components 
*****************/
/*resetting style */
ol, ul { 
  list-style: none;
  padding: 0;
}


/*****************
Grid: body
*****************/
body{  
  display: grid;
  grid-template-rows: repeat(10, minmax(0, auto));
  grid-template-columns: repeat(10, minmax(0, 1fr));
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;

  background: var(--darkGreen);
  color: var(--lightYellow);

  font-family: 'Times New Roman', sans-serif;
  line-height: 1.6;
}

/*****************
Grid: topnav
*****************/
.topnav{
  background-color: var(--Brown);
  color: var(--lightYellow);

  grid-row: 1/2;
  grid-column: 1/-1;

  display: flex;
  height: 75px;
  max-height: 75px;
  align-items: center;
  justify-content: space-between;
}

.linksGroup{
  /*TO DO:
  Make a tiny drop down menu for super short lengths
  */
  display: flex;
  align-items: center;
}

.linksGroup a {
  color: var(--lightYellow);
  text-decoration: none;
}

.websiteLinks {
  margin-right: 5px;
}

.externalLinks a {
  color: var(--Lemonade);
  box-shadow: 0px 1px 5px;
  border-radius: 8px 8px 8px 8px;
}

/*Change color of links on hover*/
nav a:hover {
  color: var(--darkBrown);
}

/*Add color to the active/ current link*/
.topnav a.active {
  color: var(--activeYellow);
}

/***************** 
Footer grid
*****************/

footer{
  grid-row: -2/-1;
  grid-column: 1/-1;
  
  background: var(--darkBlue);

  height: 75px;
  max-height: 75px;
  align-self: end;

  align-content: center;
  justify-items: center; 
  
}

/*****************
Mobile stuff 
*****************/
@media (max-width: 768px) {
  /*Center top navigation and let them wrap*/
  .topnav {
    flex-wrap: wrap;
  } 
}



/**** 
-----
TODO: Light Academia coloring 
-------

@media (prefers-color-scheme: light) {
  :root {
    --darkGreen: #717d5a;
    --lightYellow: #f5e5c3;
  }
  
  header {
    background: #b99972;
    color: var(--lightYellow);
  }

  .topnav{
    color: #2c2323;
  }
  
  .topnav a{
    color: #050303;
  }
  
  nav a:hover {
    color: #6B2D2C;
  }

  body{
    background: var(--darkGreen);
    color: var(--lightYellow);
  }


  footer{
    background: #384a62;
    color: #e1d9c9;
  }
}

****/
