---
title: yayformar.io
layout: 'base.njk'
---

<!DOCTYPE html>

<html>
    <!-- Where the maint content will go-->
    <main>
        <section> featured posts</section>
        <section> all posts</section>
    </main>
</html>